[user]
	name = taivop
	email = taivo.pungas@gmail.com
	signingkey = B42EC862
[credential]
	helper = osxkeychain
[push]
	default = simple
[core]
	excludesfile = /Users/taivo/.gitignore_global
	editor = sublime -n -w
