[user]
	name = taivop
	email = taivo@pungas.ee
[credential]
	helper = store
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	editor = vim #subl -n -w
[pull]
	rebase = true
[rebase]
	autoStash = true
[init]
	defaultBranch = master
